@charset "UTF-8";
/* CSS Document */

.ec-profile-image {
	float: left;
	width: 24px;
	height: auto;
	
	
}

.ec-image {
		float: left;
		margin: 0;
		
}

.ec-panel-wrap {
	padding: 10px;
	
}


.ec-panel-grouping {
	clear: both;
}

.ec-arrow-down {
	margin-bottom: 0;
	margin-top: 4px;

	 
}


.ec-name {
	float: left;	
	width: 60%;
	height: auto;
	padding-top: 5px;
	padding-left: 8px;
}


.ec-wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 2.5%;	
}

.ec-race-dropdown {
	color: #333333;
  	background-color: #FAA634;
	border-color: #ddd;	
	
	width: 50%;
	margin: 0 auto 30px auto;
}

.ec-race-dropdown ul {
	padding:2px 5px;
  position: relative; 
  height:auto;	
  text-align: left; 
  width: 100%;
  
}

.ec-race-dropdown ul li {
	padding: 5%;
	
}

.ec-race-dropdown ul ul {
	list-style-type:none;
	margin:0;
	padding: 0 0 0 17.5%;
	position: absolute;
	top: 100%;
	right: 0;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;	
	width: 100%;
	background-color: #FAA634;
}

.ec-race-dropdown ul li:hover > ul, .ec-race-dropdown ul li:active > ul {
		 visibility:visible;
  opacity:0.9;
  transition-delay:0s;
  background-color: #FAA634;
}

.ec.race-dropdown ul ul li {
	background-color: #FAA634;

	
}