@charset "UTF-8";
/* CSS Document */


.ec-wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 2.5%;	
	max-width: 500px;
}

.ec-race-dropdown {
	color: #333333;
  	background-color: #f5f5f5;
	
	width: 50%;
	margin: 0 auto 30px auto;
	color: #6b8cbd;
}

.ec-race-dropdown ul {
	padding:2px 5px;
	position: relative; 
	height:auto;	
	text-align: left; 
	width: 100%;
	z-index: 99;
	border: 1px solid #ddd;	
	border-radius: 3px;
}



.ec-race-dropdown ul li {
	padding: 5%;
	
}

.ec-race-dropdown ul li a {
	color: #6b8cbd;	
}

#ec-race-collapse {
	display: none;
	list-style-type:none;
	margin:0;
	padding: 5% 0 0 13%;
	/*position: absolute ;  
	top: 100%; 
	right: 0; */
	width: 100%;
	background-color: #f5f5f5;
	border: none;
}


	

.ec-race-dropdown ul ul li {
	background-color: #f5f5f5;
	color: #6b8cbd;
	margin-bottom: 4%;
	padding-left: 0;	
}

.ec-arrow-down {
	margin-bottom: 0;
	margin-top: 4px;
	color: #6b8cbd;
}

.ec-profile-image {
	float: left;
	width: 24px;
	height: auto;
}

.ec-image {
	float: left;
	margin: 0;	
}

.ec-panel-wrap {
	padding: 10px;
	position: relative;
}


.ec-panel-grouping {
	clear: both;
}




.ec-name {
	float: left;	
	width: 75%;
	height: auto;
	padding-top: 5px;
	padding-left: 8px;
}


.ec-bullet-list {
	list-style: disc;
	width: 90%;
	padding: 2%;
	margin-left: 10px;
}

.ec-bullet-list li {
	margin-bottom: 10px;
}


.ec-collapse {
	display: none;	
}

